@import 'src/styles/global.scss';
@import 'src/styles/variables.sass';

.TaskListItem {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $background_thrid;
    margin-top: 10px;
    transition: 0.5s;

    @include _580 {
        text-align: center;
    }

    &_title {
        color: $text_color_first;
        font-size: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $text_color_first;
    }

    &_description {
        padding: 20px 0 40px 30px;

        @include _580 {
            text-align: center;
            padding: 20px 0 40px 0;

        }
    }

    &_date {
        margin-top: 10px;
        padding-bottom: 5px;
        text-align: end;

        @include _580 {
            text-align: center;
        }

        &_span {
            font-weight: bold;

            @include _580 {
                display: block;
            }
        }
    }

    &_btns_block {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 5px;

        @include _580 {
            justify-content: center;
        }
    }

    &_headings_block {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding-top: 10px;

        @include _580 {
            justify-content: center;
        }

        &_item {
            font-size: 14px;
            display: inline-block;
            color: $text_color_first;
            transition: 0.3s;
            background: $background_second;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $background_thrid;
        }
    }
}

.TaskListItem:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.complited {
    background-color: rgba(9, 211, 26, 0.322);
}

.overdue {
    background: gray;
}