@import 'src/styles/global.scss';
@import 'src/styles/variables.sass';

.TaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_headings_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &_item {
            background: $background_second;
            padding: 2px;
            padding-left: 15px;
            margin: 2px;
            border-radius: 10px;
            border: 1px solid $background_thrid;
        }
    }
}

.text {
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

.img {
    margin: 0 auto;
    height: 260px;
    width: 420px;
    display: inline-block;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 1px solid $background_second;
}

.date__text {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    gap: 20px;
}

.warning {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: red;
    font-size: 25px;
}