@import 'src/styles/global.scss';
@import 'src/styles/variables.sass';

* {
    box-sizing: border-box;
}

.Header {
    background-color: $background_second;
    color: $text_color_first;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    max-width: 900px;
    gap: 50px;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
}

.content {
    background-color: $background_second;
    height: 94vh;
    padding: 20px 0;
}

.nav {
    display: flex;
    gap: 50px;
}
