@import 'src/styles/global.scss';
@import 'src/styles/variables.sass';

.HeaderItem {
    text-decoration: none;
    color: $text_color_first;
    transition: 0.3s;
}

.HeaderItem:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.HeaderItem.active {
    font-weight: bold;
}

.logo {
    color: $text_color_first;
    font-weight: bold;
    font-size: 30px;
}